/* Style */
@font-face {
  font-family: Cardo;
  src: url("../font/CrimsonText-Regular.ttf") format("opentype");
}
@font-face {
  font-family: Montserrat;
  src: url("../font/Montserrat-VariableFont_wght.ttf") format("opentype");
}
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
a,
ul {
  text-decoration: none;
  color: inherit;
}
